* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header */
header {
    background-color: rgb(255, 123, 0);
    height: 50px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
    cursor:pointer;
}

.white-icons {
    color: white;
    font-size: 10px;
}

.contact {
    max-width: 15px;
    max-height: 15px;
}

.logo {
    width: 100px;
    height: 20px;
    }

.logo-boolean {
    max-width: 100px;
    max-height: 50px;
}    

.header-dx {
    display:flex;
    align-items: center;
}

/* sezione centrale */

.container {  
    width: 80%;;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: 200px;
    right: 200px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.item > .container-sconti {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.verde {
    background-color: green;
    padding: 8px;
    font-size: 10px;
}

.rosso {
    background-color: red;
    padding: 8px;
    font-size: 10px;
}

.item {
    position: relative;
    width: 30%;
    max-height: 700px;
    display: inline-block;
    margin: 7px;
  }

.heart {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    margin-top: 10px;
}

.item:hover .heart {
    display: block;
  }

  span {
    color: white;
    font-weight: bold;
  }

  .product-img {
    object-fit:cover;
    width: 100%;
    height: 100%;
  }

/* footer */

footer {
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-icons {
    margin: 2px;
}